@{
    ViewData["Title"] = "Home Page";
}

<div class="index-text">
    <h2 class="index-header">Welcome to Space Calculator</h2>
    <p>I'm excited to present a project I've dedicated the past three days to. During this time, I've been focused on
        honing my Javascript skills by creating simple applications. While this particular project doesn't utilize a
        database and is solely focused on calculations, I hope you find it enjoyable to use.
    </p>
</div>
