@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="privacy-text">
    <h1>@ViewData["Title"]</h1>
    <p></p>Our website is committed to protecting your privacy. We only collect and store the
    information necessary to provide
    you with a smooth browsing experience and to improve our services. Rest assured that we never share or sell your
    personal information to third parties. By using our website, you consent to the terms of this privacy policy.</p>
</div>
